# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1

# Database (local development)
DB_NAME=shade
DB_USER=shade
DB_PASSWORD=shade
DB_ROOT_PASSWORD=rootpassword

# Terraform
TF_VAR_environment=staging
TF_VAR_route53_zone_id=

# VPC ID for Terraform
TF_VAR_vpc_id=vpc-xxxxxxxxxxxxxxxxx

# Route 53 Zone ID for Terraform
TF_VAR_route53_zone_id=XXXXXXXXXXXXXXXXXXXXX

# Terraform variables for MariaDB
TF_VAR_mariadb_db_name=
TF_VAR_mariadb_db_username=
TF_VAR_mariadb_db_password=

# These should only be read from terraform/(staging|production)/terraform.tfvars.json
# TF_VAR_image_tag=v0.1.0
# TF_VAR_migration_image_tag=v0.1.0

# Docker user mapping (run: id -u && id -g to get your values)
UID=1000
GID=1000
